server:
  port: 8080

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_PASS}
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true

  datasource:                 # ← AQUÍ estaba como "ddatasource"
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update      
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false           
    baseline-on-migrate: false

app:
  security:
    jwt:
      issuer: upiiz-platform
      access-exp-min: 15
      refresh-exp-days: 14
      secret: ${JWT_SECRET}
  gesco:
    enabled: true
    base-url: "http://148.204.142.2/pump/web/index.php/login"
    token: ${TOKEN}
    timeout-ms: 5000

logging:
  level:
    org.springf
